html, body {
  margin: 0;
  background-color: #000000;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
  min-height: 100vh;
}

body {
  display: block; /* remove flex to allow normal flow and scrolling */
  padding: 1rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}
